<module xmlns="urn:jboss:module:1.0" name="cz.muni.fi.cdii">
    <resources>
        <resource-root path="cdii-extension.jar"/>
    </resources>
    
    <dependencies>
        <module name="javax.api"/>
        <module name="org.jboss.staxmapper"/>
        <module name="org.jboss.as.controller"/>
        <module name="org.jboss.as.server"/>
        <module name="org.jboss.modules"/>
        <module name="org.jboss.msc"/>
        <module name="org.jboss.logging"/>
        <module name="org.jboss.vfs"/>
        <module name="io.undertow.core"/>
        <module name="org.wildfly.extension.undertow"/>
        <module name="org.jboss.as.weld" />
        <module name="org.jboss.weld.core" />
        <module name="javax.enterprise.api"/>
    </dependencies>
</module>
